  <h1>{{name}}</h1>
  <img src="{{image}}"/>
  <ul>
      <li>Light Saber: {{lightSaber}}</li>
      <li>Likes: {{likes}}</li>
      <li>Dislikes: {{dislikes}}</li>
      <li>Looking for: {{lookingFor}}</li>
      <li>Planet: {{planet}}</li>
      <li>Quote: {{quote}}</li>
  </ul>
